[Service]
ExecStart=/usr/bin/node /home/yarnball/src/yarnball-site/server/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=yarnball-server
User=yarnball
Group=yarnball
Environment=NODE_ENV=production
WorkingDirectory=/home/yarnball/src/yarnball-site/

[Install]
WantedBy=multi-user.target