html, body {
  margin:  0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

#nav-bar {
  display: flex;
  height: 50px;
  z-index: 3;
}

#nav-bar.floating {
  position: fixed;
  top:   0;
  left:  0;
  right: 0;
}
#nav-bar.hidden {
  display: none;
}

iron-pages {
  flex-grow: 1;
  position: relative;
}